.navbar {
    background-color: var(--tertiary-color);
    border-bottom: solid 3px;
    border-bottom-color: var(--primary-color)
}

.navbar li {
    display: inline-block;
    box-sizing: border-box;
    color: var(--title-dark-color);
    cursor: pointer;
    padding: 0 20px;
    height: 100%;
    padding-bottom: 2px;
    /* padding-left: 25px; */
    text-align: center;
    font-size: 1.3em;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    transition: 0.5s;

    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
}

.navbar li:hover {
    text-decoration-color: var(--primary-color);

    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: var(--primary-color);
    -moz-text-decoration-color: var(--primary-color);
    color: var(--primary-color);
}

.navbar ul.right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.navbar ul.left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.logo {
    width: 68px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}